@font-face {
  font-family: "Karla";
  src: url(./fonts/Karla-Italic-VariableFont_wght.ttf),
       url(./fonts/Karla-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Karla';
  --purple-grad: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

#pg-header{
  /* Header background */
  height: 65px;
  left: 0px;
  top: 0px;
  background: var(--purple-grad);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFFFFF;
  padding: 0 30px;
}

#site-logo{
  width: 31px;
  margin-right: 6px;
}

#site-title{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: auto;
}

#site-details{
  font-size: 12px;
}

.memeGenContainer{
  max-width: 463px;
  margin: 36px auto;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;

}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.memeContainer--memeImg{
  width: 100%;
  margin-top: 36px;
}
